* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
.parrafo1 {
 line-height: 22px;
 margin-top: 20px;
 }

 
.titulo {
    font-family: 'Roboto Condensed', sans-serif;
     word-spacing: 10px;
     padding: 10px;
     width: 250px;
 }


.subtitulo {
     margin-top: 100px;
 }

 .subtitulo3 {
        margin-top: 200px;
 }

 .nav-custom {
    color: darkslategray;
    padding-right: 0;
    padding-left: 0;
    display: block;
    padding-top: 15px;
    margin-left: 18px;
    
 }

 .nav-custom:hover {
     color: orangered;
 }

 

.subtitulo4:hover {
    text-decoration: underline;
    color: orangered;
    transform: translate(0px, -10px);
    transition: all 1s;
}

.pagelink {
    text-decoration: none;
}

.pagelink:hover {
    text-decoration: underline;
    color: orangered;
}

.contacto-link {
    text-decoration: none;
    color: red;
}

.contacto-link:hover {
    text-decoration: underline;
    color: orangered;
}

.border-effect:hover {
    border: 3px solid orangered;
}
 
table {
     margin: 20px;
     padding: 20px;
 }

tr th {
     color: orangered;
 }
 
tr td {
     color: darkslategray;
     padding: 25px;
 }

 .footer-margin {
     background-color: #f4ede1;
     padding-top: 70px;
     padding-bottom: 30px;
 }
 
.footer-title {
     margin-bottom: 20px;
     text-align: center;
 }

 .footer-icons {
    text-align: center;
 }
 
 .spacing {
     letter-spacing: 10px;
 }

 .margin-contacto {
    margin-left: 15px;
    font-size: 20px; 
 }

.contenido {
    height: 200px;
    margin-top: -50px;
}


.sidebar {
    width: 200px;
    height: 300px;
    float: right;
    margin-left: 30px;
    margin-top: -20px;
} 

.fotos-ini {
    width: 350px;
    height: 250px;
    color: rgb(245, 65, 0);
}

.nombre-producto {
   color: orangered;
   text-align: center;
   padding-top: 20px;
   
}

.iconcolor {
    color: darkslategray
}

.nombre-producto::after {
    content: '';
    display: block;
    width: 50px;
    border-top: 2px solid #444;
    margin: 20px auto;
}

.propiedades-container {
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: top;
    
}


.img-carrousel {
    width: 100%;
    height: 500px;
}


.margin-img {
    margin-top: 50px;
}

.margin-empresa {
    margin-top: 50px;
    margin-bottom: 30px;
}

.margin-rec {
    margin-top: 15px;
}

.back-padding {
    padding: 80px;
    text-align: center;
}

.back-section-padding {
    padding: 50px;
}

  .container-overlay {
    position: relative;
    width: 50%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 1s ease;
    background-color: lavenderblush;
  }
  
  .container-overlay:hover .overlay {
    opacity: 0.7;
  }
  
  .texto-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
  }


/* Para Mobile */
@media only screen and (max-width: 400px) {


    .imagen-producto {
        width: 100%;
    }

    .subtitulo3 {
        margin-top: 450px;
 }

    .mobile-adjust {
        height: 400px;
    }
}


/* Para Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    
    .imagen-producto {
        width: 50%;
    }

    .subtitulo3 {
        margin-top: 350px;
 }

}

/* Para Pc */
@media only screen and (min-width: 961px) {

    .imagen-producto {
        width: 33%;
    }

}